Repository blitzy-public-samples/omers-vc-reporting-platform-k7vglm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @backend-team, @database-team, @devops-team, @ci-cd-team, @api-team, @services-team, @data-modeling-team, @qa-team, @documentation-team, @security-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/api/v1/__init__.py
  src/backend/api/v1/__init__.py
Owners: @api-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/api/v1/endpoints/__init__.py
  src/backend/api/v1/endpoints/__init__.py
Owners: @api-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/api/v1/endpoints/companies.py
  src/backend/api/v1/endpoints/companies.py
Owners: @api-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/api/v1/endpoints/metrics_input.py
  src/backend/api/v1/endpoints/metrics_input.py
Owners: @api-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/api/v1/endpoints/reporting_financials.py
  src/backend/api/v1/endpoints/reporting_financials.py
Owners: @api-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/api/v1/endpoints/reporting_metrics.py
  src/backend/api/v1/endpoints/reporting_metrics.py
Owners: @api-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/core/__init__.py
  src/backend/core/__init__.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/core/config.py
  src/backend/core/config.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/core/dependencies.py
  src/backend/core/dependencies.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/core/security.py
  src/backend/core/security.py
Owners: @security-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/crud/__init__.py
  src/backend/crud/__init__.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/crud/base.py
  src/backend/crud/base.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/crud/company.py
  src/backend/crud/company.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/crud/metrics_input.py
  src/backend/crud/metrics_input.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/crud/reporting_financials.py
  src/backend/crud/reporting_financials.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/crud/reporting_metrics.py
  src/backend/crud/reporting_metrics.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/db/__init__.py
  src/backend/db/__init__.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/db/base.py
  src/backend/db/base.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/db/session.py
  src/backend/db/session.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/migrations/__init__.py
  src/backend/migrations/__init__.py
Owners: @backend-team, @database-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/migrations/env.py
  src/backend/migrations/env.py
Owners: @backend-team, @database-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/migrations/script.py.mako
  src/backend/migrations/script.py.mako
Owners: @backend-team, @database-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/models/__init__.py
  src/backend/models/__init__.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/models/company.py
  src/backend/models/company.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/models/metrics_input.py
  src/backend/models/metrics_input.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/models/reporting_financials.py
  src/backend/models/reporting_financials.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/models/reporting_metrics.py
  src/backend/models/reporting_metrics.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/schemas/__init__.py
  src/backend/schemas/__init__.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/schemas/company.py
  src/backend/schemas/company.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/schemas/metrics_input.py
  src/backend/schemas/metrics_input.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/schemas/reporting_financials.py
  src/backend/schemas/reporting_financials.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/schemas/reporting_metrics.py
  src/backend/schemas/reporting_metrics.py
Owners: @data-modeling-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/services/__init__.py
  src/backend/services/__init__.py
Owners: @services-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/services/currency_conversion.py
  src/backend/services/currency_conversion.py
Owners: @services-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/services/data_transformation.py
  src/backend/services/data_transformation.py
Owners: @services-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/services/metrics_calculation.py
  src/backend/services/metrics_calculation.py
Owners: @services-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @qa-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @qa-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/tests/api/__init__.py
  src/backend/tests/api/__init__.py
Owners: @qa-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/tests/api/v1/__init__.py
  src/backend/tests/api/v1/__init__.py
Owners: @qa-team

.github/CODEOWNERS:

# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code they own.

# Default owners for everything in the repo (unless a later match takes precedence)
* @project-admin

# Backend team owns the src/backend/ directory and its contents
/src/backend/ @backend-team

# Database team owns the src/database/ directory and its contents
/src/database/ @database-team

# DevOps team owns the infrastructure/ directory and its contents
/infrastructure/ @devops-team

# CI/CD team owns the .github/workflows/ directory and its contents
/.github/workflows/ @ci-cd-team

# API team owns the src/backend/api/ directory and its contents
/src/backend/api/ @api-team

# Services team owns the src/backend/services/ directory and its contents
/src/backend/services/ @services-team

# Data modeling team owns the src/backend/models/ and src/backend/schemas/ directories and their contents
/src/backend/models/ @data-modeling-team
/src/backend/schemas/ @data-modeling-team

# QA team owns the src/backend/tests/ and src/database/tests/ directories and their contents
/src/backend/tests/ @qa-team
/src/database/tests/ @qa-team

# Documentation team owns all README.md files and the LICENSE file
README.md @documentation-team
/**/README.md @documentation-team
/LICENSE @documentation-team

# Security team owns security-related files
/src/backend/core/security.py @security-team
/src/backend/utils/rate_limiter.py @security-team

# Database migrations owned by both backend and database teams
/src/backend/migrations/ @backend-team @database-team
/src/database/migrations/ @database-team @backend-team

# Configuration files owned by DevOps and respective teams
/src/backend/config.py @backend-team @devops-team
/src/database/config.py @database-team @devops-team
/src/backend/requirements.txt @backend-team @devops-team
/src/database/requirements.txt @database-team @devops-team

# Dockerfile and .dockerignore owned by DevOps and Backend teams
/src/backend/Dockerfile @devops-team @backend-team
/src/backend/.dockerignore @devops-team @backend-team

# GitHub-specific files owned by project admin and CI/CD team
/.github/PULL_REQUEST_TEMPLATE.md @project-admin @ci-cd-team
/.github/ISSUE_TEMPLATE/ @project-admin @ci-cd-team

# .gitignore owned by project admin
/.gitignore @project-admin
