Repository blitzy-public-samples/omers-vc-reporting-platform-k7vglm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @backend-team, @database-team, @devops-team, @ci-cd-team, @api-team, @services-team, @data-modeling-team, @qa-team, @documentation-team, @security-team

.github/CODEOWNERS:

# for code in this repository. Code owners are automatically requested
# for review when someone opens a pull request that modifies code they own.

# Default owners for everything in the repo (unless a later match takes precedence)
* @project-admin

# Backend team owns the src/backend/ directory and its contents
/src/backend/ @backend-team

# Database team owns the src/database/ directory and its contents
/src/database/ @database-team

# DevOps team owns the infrastructure/ directory and its contents
/infrastructure/ @devops-team

# CI/CD team owns the .github/workflows/ directory and its contents
/.github/workflows/ @ci-cd-team

# API team owns the src/backend/api/ directory and its contents
/src/backend/api/ @api-team

# Services team owns the src/backend/services/ directory and its contents
/src/backend/services/ @services-team

# Data modeling team owns the src/backend/models/ and src/backend/schemas/ directories and their contents
/src/backend/models/ @data-modeling-team
/src/backend/schemas/ @data-modeling-team

# QA team owns the src/backend/tests/ and src/database/tests/ directories and their contents
/src/backend/tests/ @qa-team
/src/database/tests/ @qa-team

# Documentation team owns all README.md files and the LICENSE file
README.md @documentation-team
/**/README.md @documentation-team
/LICENSE @documentation-team

# Security team owns security-related files
/src/backend/core/security.py @security-team
/src/backend/utils/rate_limiter.py @security-team

# Database migrations owned by both backend and database teams
/src/backend/migrations/ @backend-team @database-team
/src/database/migrations/ @database-team @backend-team

# Configuration files owned by DevOps and respective teams
/src/backend/config.py @backend-team @devops-team
/src/database/config.py @database-team @devops-team
/src/backend/requirements.txt @backend-team @devops-team
/src/database/requirements.txt @database-team @devops-team

# Dockerfile and .dockerignore owned by DevOps and Backend teams
/src/backend/Dockerfile @devops-team @backend-team
/src/backend/.dockerignore @devops-team @backend-team

# GitHub-specific files owned by project admin and CI/CD team
/.github/PULL_REQUEST_TEMPLATE.md @project-admin @ci-cd-team
/.github/ISSUE_TEMPLATE/ @project-admin @ci-cd-team

# .gitignore owned by project admin
/.gitignore @project-admin

Add public-samples/omers-vc-reporting-platform-k7vglm/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @project-admin, @ci-cd-team

Add public-samples/omers-vc-reporting-platform-k7vglm/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-admin, @ci-cd-team

Add public-samples/omers-vc-reporting-platform-k7vglm/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-admin, @ci-cd-team

Add public-samples/omers-vc-reporting-platform-k7vglm/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @ci-cd-team

Add public-samples/omers-vc-reporting-platform-k7vglm/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @ci-cd-team

Add public-samples/omers-vc-reporting-platform-k7vglm/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-admin

Add public-samples/omers-vc-reporting-platform-k7vglm/documentation/Software Requirements Specifications (SRS).md
  documentation/Software Requirements Specifications (SRS).md
Owners: @project-admin

Add public-samples/omers-vc-reporting-platform-k7vglm/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-admin

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/README.md
  infrastructure/README.md
Owners: @documentation-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/main.tf
  infrastructure/main.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/outputs.tf
  infrastructure/outputs.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/variables.tf
  infrastructure/variables.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/environments/dev.tfvars
  infrastructure/environments/dev.tfvars
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/environments/prod.tfvars
  infrastructure/environments/prod.tfvars
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/environments/staging.tfvars
  infrastructure/environments/staging.tfvars
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/app_service/main.tf
  infrastructure/modules/app_service/main.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/app_service/outputs.tf
  infrastructure/modules/app_service/outputs.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/app_service/variables.tf
  infrastructure/modules/app_service/variables.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/database/main.tf
  infrastructure/modules/database/main.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/outputs.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/database/variables.tf
  infrastructure/modules/database/variables.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/function_app/main.tf
  infrastructure/modules/function_app/main.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/function_app/outputs.tf
  infrastructure/modules/function_app/outputs.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/function_app/variables.tf
  infrastructure/modules/function_app/variables.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/key_vault/main.tf
  infrastructure/modules/key_vault/main.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/key_vault/outputs.tf
  infrastructure/modules/key_vault/outputs.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/key_vault/variables.tf
  infrastructure/modules/key_vault/variables.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/monitoring/main.tf
  infrastructure/modules/monitoring/main.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/monitoring/outputs.tf
  infrastructure/modules/monitoring/outputs.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/monitoring/variables.tf
  infrastructure/modules/monitoring/variables.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/main.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/storage/outputs.tf
  infrastructure/modules/storage/outputs.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/infrastructure/modules/storage/variables.tf
  infrastructure/modules/storage/variables.tf
Owners: @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @devops-team, @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team, @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/README.md
  src/backend/README.md
Owners: @documentation-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/main.py
  src/backend/main.py
Owners: @backend-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @backend-team, @devops-team

Add public-samples/omers-vc-reporting-platform-k7vglm/src/backend/api/__init__.py
  src/backend/api/__init__.py
Owners: @api-team
